<img src="assets\Images\moon.png" id="moon-img">
<div class="starry-night">
    <img src="assets\Images\star.png">
    <img src="assets\Images\star.png">
    <img src="assets\Images\star.png">
    <img src="assets\Images\star.png">
    <img src="assets\Images\star.png">
    <img src="assets\Images\star.png">
    <img src="assets\Images\star.png">
    <img src="assets\Images\star.png">
    <img src="assets\Images\star.png">
    <img src="assets\Images\star.png">

</div>
<section class="wrapper-section">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</section>