#moon-img {
    position: absolute;
    max-width: 100px;
    top: 150px;
    left: -100px;
    animation: moon-anim 15s infinite;
    z-index: 2;
}

.starry-night {
    max-height: 100vh;
}

.starry-night img {
    position: absolute;
    max-width: 20px;
    animation: size-pulse-odd-anim 5s infinite;
    z-index: 1;
}

.starry-night img:nth-child(odd) {
    animation: size-pulse-odd-anim 5s infinite;
}

.starry-night img:nth-child(even) {
    animation: size-pulse-even-anim 5s infinite;
}

.starry-night {
    img:nth-child(1) {
        top: 150px;
        left: 20%;
    }
    img:nth-child(2) {
        top: 180px;
        left: 30%;
        display: none;
    }
    img:nth-child(3) {
        top: 130px;
        left: 42%;
    }
    img:nth-child(4) {
        top: 160px;
        left: 52%;
    }
    img:nth-child(5) {
        top: 130px;
        left: 6%;
    }
    img:nth-child(6) {
        top: 110px;
        left: 62%;
    }
    img:nth-child(7) {
        top: 80px;
        left: 68%;
    }
    img:nth-child(8) {
        top: 180px;
        left: 82%;
    }
    img:nth-child(9) {
        top: 150px;
        left: 88%;
    }
    img:nth-child(10) {
        top: 110px;
        left: 94%;
    }
}

.wrapper-section {
    min-height: 90vh;
    max-width: 100vw;
}


/*ANIMATIONS*/

@keyframes size-pulse-odd-anim {
    0% {
        transform: scale(1) rotate(0deg);
        filter: drop-shadow(0 0px 2px var(--yellow));
    }
    33% {
        transform: scale(.8) rotate(15deg);
        filter: drop-shadow(0 0px 32px var(--yellow));
    }
    66% {
        transform: scale(1.2) rotate(-15deg);
        filter: drop-shadow(0 0px 32px var(--yellow));
    }
    100% {
        transform: scale(1) rotate(0deg);
        filter: drop-shadow(0 0px 2px var(--yellow));
    }
}

@keyframes size-pulse-even-anim {
    0% {
        transform: scale(1) rotate(0deg);
        filter: drop-shadow(0 0px 2px var(--jade));
    }
    33% {
        transform: scale(1.2) rotate(-25deg);
        filter: drop-shadow(0 0px 24px var(--jade));
    }
    66% {
        transform: scale(.8) rotate(25deg);
        filter: drop-shadow(0 0px 16px var(--jade));
    }
    100% {
        transform: scale(1) rotate(0deg);
        filter: drop-shadow(0 0px 2px var(--jade));
    }
}

@keyframes moon-anim {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-100%) rotate(60deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
        left: 110%;
    }
}


/*Desktop queries*/

@media (min-width: 768px) {
    #moon-img {
        position: absolute;
        max-width: 200px;
        top: 3%;
        left: -200px;
        animation: moon-anim 25s infinite;
        z-index: 2;
    }
    .starry-night {
        img:nth-child(1) {
            top: 2%;
            left: 20%;
        }
        img:nth-child(2) {
            top: 6%;
            left: 30%;
            display: block;
        }
        img:nth-child(3) {
            top: 3%;
            left: 42%;
        }
        img:nth-child(4) {
            top: 4%;
            left: 52%;
        }
        img:nth-child(5) {
            top: 3%;
            left: 6%;
        }
        img:nth-child(6) {
            top: 6%;
            left: 62%;
            display: block;
        }
        img:nth-child(7) {
            top: 5%;
            left: 68%;
        }
        img:nth-child(8) {
            top: 4%;
            left: 82%;
        }
        img:nth-child(9) {
            top: 5%;
            left: 88%;
        }
        img:nth-child(10) {
            top: 6%;
            left: 94%;
        }
    }
}

@media (min-width: 1280px) {
    #moon-img {
        position: absolute;
        max-width: 200px;
        top: 200px;
        left: -200px;
        animation: moon-anim 25s infinite;
        z-index: 2;
    }
}