<nav>
    <button type="button" (click)="toggle()">Toggle Open/Close</button>
</nav>

<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
    <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
</div>

<div style="min-height: 90vh; background-color: #000;">
    <h1 data-aos="fade-up" data-aos-anchor-placement="top-center" class="center-text">SARMALE VERZI</h1>
</div>
<div style="min-height: 90vh; background-color: pink;">
    <h1 class="center-text">SARMALE VERZI</h1>
</div>