.logo {
    max-width: 250px;
    height: auto;
}

.header-section {
    padding: 25px;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.is-visible {
    opacity: 1;
    display: flex;
}

@keyframes pulse-anim {
    0% {
        transform: scale(0.8);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}


/*HAMBURGER MENU*/

.hamburger-menu {
    min-width: 40px;
    min-height: 30px;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.hamburger-menu span {
    height: 4px;
    width: 100%;
    background-color: var(--jade);
    display: block;
    position: absolute;
    border-radius: 50px;
    border: 0px solid var(--jade);
    transition: .3s;
}

.hamburger-menu span:nth-child(1) {
    top: 0;
    left: 0;
}

.hamburger-menu span:nth-child(2),
span:nth-child(4) {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.hamburger-menu span:nth-child(3) {
    bottom: 0;
    left: 0;
}

.active-hamburger-menu span:nth-child(1) {
    top: 50%;
    left: 0;
    bottom: 0;
    transform: rotate(45deg);
}

.active-hamburger-menu span:nth-child(2) {
    opacity: 0;
    transform: translateX(-20px);
}

.active-hamburger-menu span:nth-child(4) {
    opacity: 0;
    transform: translateX(20px);
}

.active-hamburger-menu span:nth-child(3) {
    transform: rotate(135deg);
    top: 50%;
    left: 0;
}


/*END HAMBURGER MENU*/