<section class="header-section">
    <div class="header">
        <img src="\assets\Images\logo-lunara.png" class="logo">
        <div class="hamburger-menu" [class.active-hamburger-menu]="isVisited == true" (click)="checkVisited()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="menu-items" [class.is-visible]="isVisited == true">
        <div class="menu-item" *ngFor="let route of routes" [routerLink]="route.path" (click)="checkVisited()">{{route.name}}</div>
        <i class="d-block fa-brands fa-instagram"></i>
    </div>
</section>