.home-section {
    min-height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-image: url("../../assets/images/main-background-lunara.png");
    background-size: cover;
    width: auto;
    background-position: 50% 50%;
    h1,
    h2,
    p {
        z-index: 99;
        position: relative;
    }
}

.complex-image {
    position: relative;
    width: 100%;
}

.complex-image-item {
    height: auto;
    max-width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
}

.rotate-anim-img {
    animation: rotate-anim 10s infinite linear;
    max-width: 300px;
}

.second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-black);
    min-height: 60vh;
    padding: 25px;
}

.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 60vh;
    padding: 40px 25px;
    .two-col-container {
        flex-direction: column;
    }
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
    padding: 40px 25px;
    background-color: var(--dark-black);
    .pic-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .two-col-container {
        flex-direction: column-reverse;
        border-bottom: 2px solid #fff;
        margin-bottom: 60px;
    }
    h1 {
        text-align: center;
    }
    ul {
        font-size: 1.1rem;
        li {
            padding: 10px 0;
        }
    }
    .complex-image-item {
        position: absolute;
        left: 0;
        top: 0;
        max-width: 320px;
    }
    img {
        max-width: 320px;
    }
}

.home-hero-section {
    transition: 2s;
    .title {
        transition: 2s;
        animation: title-anim 1s forwards;
    }
    .sub-title {
        transition: 2s;
        animation: subtitle-anim 1s forwards;
    }
    .small-separator {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 10px auto;
        width: 100px;
        height: 6px;
        background-color: var(--yellow);
        top: -20px;
    }
    .small-separator:nth-child(1) {
        background-color: var(--jade);
        animation: small-separator-1-anim .8s forwards;
    }
    .small-separator:nth-child(2) {
        animation: small-separator-2-anim .8s forwards;
    }
    .arrow-icon {
        animation: arrow-icon-anim 2s infinite;
    }
}

@keyframes title-anim {
    from {
        transform: translateX(-800px) scale(0.4);
    }
    to {
        transform: translateX(0px) scale(1);
    }
}

@keyframes subtitle-anim {
    from {
        transform: translateX(800px) scale(0.4);
    }
    to {
        transform: translateX(0px) scale(1);
    }
}

@keyframes small-separator-1-anim {
    from {
        transform: translate(-500px);
    }
    to {
        transform: translate(-50%);
    }
}

@keyframes small-separator-2-anim {
    from {
        transform: translate(500px);
    }
    to {
        transform: translate(-50%);
    }
}

@keyframes arrow-icon-anim {
    0% {
        opacity: .3;
        transform: translateY(20px);
    }
    50% {
        opacity: .8;
        transform: translateY(0px);
    }
    100% {
        opacity: .3;
        transform: translateY(20px);
    }
}

@keyframes rotate-anim {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}


/*Desktop queries*/

@media (min-width: 768px) {
    .third-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 70vh;
        padding: 40px 25px;
        .two-col-container {
            flex-direction: row-reverse;
        }
    }
    .rotate-anim-img {
        max-width: 350px;
    }
    .complex-image-item {
        height: auto;
        max-width: 350px;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-100%);
    }
}

@media (min-width: 1280px) {
    .rotate-anim-img {
        max-width: 500px;
    }
    .complex-image-item {
        height: auto;
        max-width: 500px;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-100%);
    }
    .fourth-section {
        .two-col-container {
            flex-direction: row;
            border-bottom: none;
        }
        h1 {
            text-align: left;
        }
        .complex-image-item {
            max-width: 400px;
        }
        img {
            max-width: 400px;
        }
    }
}