<section class="home-section">
    <div class="home-hero-section">
        <div style="position: relative;">
            <span class="small-separator"></span>
            <span class="small-separator"></span>
        </div>
        <h1 class="title center-text">Welcome to Lunara Development</h1>
        <h2 class="sub-title yellow-text center-text">Don't just dream about your ideas, make them real!</h2>
        <p class="center-text sub-title arrow-icon"><i class="fa-solid fa-chevron-down"></i></p>
    </div>

</section>
<section class="second-section pos-relative">
    <div class="top-slant"></div>
    <div class="container two-col-container">
        <div data-aos="fade-right" data-aos-duration="600" data-aos-delay="200" class="two-col-container-first">
            <h2 class="yellow-text">- Start smart!</h2>
            <p>You want a lightspeed <strong>web app</strong> that's going to boost your business? That's what we do!</p>
            <p>By using the highest standards of the state of the art web technologies, we create durable, performant and eye pleasing web apps.</p>
            <p>From dashboards to data charts, custom CRM's, data pipes, funnels, sales tools and more, we got you covered.</p>

        </div>
        <div class="two-col-container-second">
            <div class="complex-image">
                <div data-aos="zoom-out" data-aos-duration="600" data-aos-delay="200"><img class="rotate-anim-img pos-relative" src="\assets\Images\lunara-first-1.png"></div>
                <div data-aos="fade-center" data-aos-duration="1000" data-aos-delay="400"><img class="complex-image-item" src="\assets\Images\lunara-first-2.png"></div>
                <div data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600"><img class="complex-image-item" src="\assets\Images\lunara-first-3.png"></div>
                <div data-aos="fade-left" data-aos-duration="1000" data-aos-delay="800"><img class="complex-image-item" src="\assets\Images\lunara-first-4.png"></div>
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000"><img class="complex-image-item" src="\assets\Images\lunara-first-5.png"></div>
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1200"><img class="complex-image-item" src="\assets\Images\lunara-first-6.png"></div>
            </div>
        </div>
    </div>
    <div class="bottom-slant"></div>
</section>

<section class="third-section pos-relative">

    <div class="container two-col-container">
        <div data-aos="fade-right" data-aos-duration="600" data-aos-delay="200" class="two-col-container-first">
            <h2 class="jade-text">- What is our vision?</h2>
            <p>At the heart of our approach is collaboration.</p>
            <p>We work closely with our clients throughout the development process to ensure that we understand their needs and objectives, and we are committed to providing transparent and regular communication at every stage of the project.</p>
            <p>We believe that this collaborative approach is essential to delivering successful projects that exceed our clients' expectations.</p>

        </div>
        <div class="two-col-container-second">
            <div class="complex-image">
                <div data-aos="zoom-out" data-aos-duration="600" data-aos-delay="200"><img class="rotate-anim-img pos-relative" src="\assets\Images\lunara-first-1.png"></div>
                <div data-aos="fade-center" data-aos-duration="1000" data-aos-delay="400"><img class="complex-image-item" src="\assets\Images\lunara-first-2.png"></div>
                <div data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600"><img class="complex-image-item" src="\assets\Images\lunara-first-3.png"></div>
                <div data-aos="fade-left" data-aos-duration="1000" data-aos-delay="800"><img class="complex-image-item" src="\assets\Images\lunara-first-4.png"></div>
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1000"><img class="complex-image-item" src="\assets\Images\lunara-first-5.png"></div>
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1200"><img class="complex-image-item" src="\assets\Images\lunara-first-6.png"></div>
            </div>
        </div>
    </div>
</section>

<section class="fourth-section pos-relative">

    <div class="container">
        <h1>How do we build a web app?</h1>

        <div class="two-col-container">
            <div data-aos="fade-right" data-aos-duration="600" data-aos-delay="200" class="two-col-container-first">
                <div style="width: 100%;">
                    <h4 class="mt-2 yellow-text">Planning</h4>
                    <ul>
                        <li>Define the purpose and goals of the web app</li>
                        <li>Conduct market research and analysis to identify user needs and competition</li>
                        <li>Develop a project scope, timeline, and budget</li>
                        <li>Create a wireframe or prototype to visualize the layout and functionality of the web app</li>
                        <li>Gather feedback from stakeholders and potential users</li>
                    </ul>

                </div>
            </div>
            <div class="two-col-container-second">
                <div class="pic-box">
                    <div data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="400" class="pos-relative"><img src="\assets\Images\Planning-lunara.png">
                        <img data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="600" class="complex-image-item" src="\assets\Images\Planning-lunara-01.png"></div>
                </div>
            </div>
        </div>

        <div class="two-col-container">
            <div data-aos="fade-right" data-aos-duration="600" data-aos-delay="200" class="two-col-container-first">
                <div style="width: 100%;">
                    <h4 class="mt-2 yellow-text">Design</h4>
                    <ul>
                        <li>Choose colors and bind them to the brand identity</li>
                        <li>Develop a visual design and style guide</li>
                        <li>Create mockups or high-fidelity prototypes</li>
                        <li>Conduct user testing to evaluate design and usability</li>
                    </ul>

                </div>
            </div>
            <div class="two-col-container-second">
                <div class="pic-box">
                    <div data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="400" class="pos-relative"><img src="\assets\Images\Design-lunara.png">
                        <img data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="600" class="complex-image-item" src="\assets\Images\Planning-lunara-02.png"></div>
                </div>
            </div>
        </div>

        <div class="two-col-container">
            <div data-aos="fade-right" data-aos-duration="600" data-aos-delay="200" class="two-col-container-first">
                <div style="width: 100%;">
                    <h4 class="mt-2 yellow-text">Development</h4>
                    <ul>
                        <li>Set up a development environment</li>
                        <li>Create a database schema and implement data models</li>
                        <li>Develop server-side components and APIs</li>
                        <li>Build client-side code using HTML, CSS, and JavaScript frameworks</li>
                        <li>Integrate third-party APIs and services</li>
                        <li>Write automated tests to ensure code quality and functionality</li>
                        <li>Continuously test and debug throughout development</li>
                    </ul>

                </div>
            </div>
            <div class="two-col-container-second">
                <div class="pic-box">
                    <div data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="400" class="pos-relative"><img src="\assets\Images\Development-lunara.png">
                        <img data-aos="zoom-out" data-aos-duration="1000" data-aos-delay="600" class="complex-image-item" src="\assets\Images\Planning-lunara-03.png"></div>
                </div>
            </div>
        </div>

    </div>
</section>