<section class="home-section">
    <div class="home-hero-section">
        <div style="position: relative;">
            <span class="small-separator"></span>
            <span class="small-separator"></span>
        </div>
        <h1 class="title center-text">Welcome to Lunara Development</h1>
        <h2 class="sub-title yellow-text center-text">Don't just dream about your ideas, make them real!</h2>
        <p class="center-text sub-title arrow-icon"><i class="fa-solid fa-chevron-down"></i></p>
    </div>

</section>
<div style="min-height: 90vh; background-color: #000;">
    <h1 data-aos="fade-right" data-aos-offset="500" class="center-text">SARMALE VERZI</h1>
</div>
<div style="min-height: 90vh; background-color: pink;">
    <h1 data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000" class="center-text">SARMALE VERZI</h1>
</div>